.button__icon__theme {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}
.button__icon__add__task {
  cursor: pointer;
  padding: 0;
}
.app__header {
  display: flex;
  justify-content: space-between;
  margin: 0 0 20px;
  padding: 10px 10px;
}
